:root {
    --primary-color: #F4A261;
    --secondary-color: #264653;
    --tertiary-color: #2A9D8F;
  }
  
  * {
    margin: 0;
    padding: 0;
    background-color: #e4dede;
  }
  
  body {
    
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  /* Header */

  header {
    padding: 40px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--secondary-color);
  }

  header h1 {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    font-size: 50px;
  }

  header nav {
    background-color: var(--secondary-color);
  }

  header nav li {
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    background-color: var(--secondary-color);
  }

  header ul li a {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
  }

  /* Header End */

  /* Banner */

  img {
    max-width: 100%;
    height: auto;
  }

  .banner-container {
    position: relative;
  }

  .banner-container .top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 100%;
    width: 10%;
    height: auto;
  }

  .banner-container #banner {
    width: 100%;
    height: auto;
  }

  /* Banner End */

  /* About Me */

  .intro h2, .projects h2 {
    text-align: center;
    font-size: 50px;
    border-top: 5px solid;
    border-bottom: 5px solid;
    margin: 0 auto 20px auto;
  }

  .intro p {
    display: flex;
    font-size: 18px; 
    margin-bottom: 20px;
    
  }

  /* About Me End */

  /* My Work */

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .project-img {
    position: relative;
  }

  .buddytext {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 50px;
  }

  .textright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 50px;
  }

/* Add a border to each individual box & hover on individual images to lower the opacity */

  #first-image {
    border: 5px solid var(--tertiary-color);
  }

  #second-image {
    border: 5px solid var(--tertiary-color);
  }

  #third-image {
    border: 5px solid var(--tertiary-color);
  }

  #fourth-image {
    border: 5px solid var(--tertiary-color);
  }

  #fifth-image {
    border: 5px solid var(--tertiary-color);
  }

  #first-image:hover {
    opacity: .5;
  }

  #second-image:hover {
    opacity: .5;
  }

  #third-image:hover {
    opacity: .5;
  }

  #fourth-image:hover {
    opacity: .5;
  }

  #fifth-image:hover {
    opacity: .5;
  }

  /* My Work End */

  /* Footer */

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--secondary-color);
    padding: 40px 70px;
  }

  footer h1 {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);

  }

  footer p {
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }

  footer nav {
    background-color: var(--secondary-color);

  }

  footer nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    background-color: var(--secondary-color);
  }

  footer ul li {
    background-color: var(--secondary-color);

  }

  footer ul li a {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
  }