:root {
    --primary-color: #F4A261;
    --secondary-color: #264653;
    --tertiary-color: #2A9D8F;
  }
  
  * {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
  }
  
  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--secondary-color);
  }

  ul {
    list-style-type: none;
  }

  header h1 {
    color: var(--primary-color);
    background-color: var(--secondary-color);

  }

  header nav {
    background-color: var(--secondary-color);

  }

  header ul li {
    background-color: var(--secondary-color);

  }

  header ul li a {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
  }

  .banner-container {
    position: relative;
  }

  .banner-container .top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 100%;
    width: 10%;
    height: auto;
  }

  .banner-container #banner {
    width: 100%;
    height: auto;
  }
  
  .intro {

  }

  .intro h2 {


  }

  .intro p {
    display: flex;
    justify-content: flex-end;
    font-size: 18px; 
    
  }

  .projects {
    
  }

  .projects h2 {

  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-img {
    position: relative;
  }

  .buddytext {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 50px;
  }

  .textright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 50px;
  }

  #first-image {
    border: 5px solid var(--tertiary-color);
  }

  #second-image {
    border: 5px solid var(--tertiary-color);
  }

  #third-image {
    border: 5px solid var(--tertiary-color);
  }

  #fourth-image {
    border: 5px solid var(--tertiary-color);
  }

  #fifth-image {
    border: 5px solid var(--tertiary-color);
  }

  #first-image:hover {
    opacity: .5;
  }

  #second-image:hover {
    opacity: .5;
  }

  #third-image:hover {
    opacity: .5;
  }

  #fourth-image:hover {
    opacity: .5;
  }

  #fifth-image:hover {
    opacity: .5;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--secondary-color);
  }

  footer h3 {
    color: var(--primary-color);
    background-color: var(--secondary-color);

  }

  footer p {
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }

  footer nav {
    background-color: var(--secondary-color);

  }

  footer ul li {
    background-color: var(--secondary-color);

  }

  footer ul li a {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
  }